header{
    background-color:  #264653;
}
.grayscale{
    display: flex;


}
.grayscale img{
    width: 100%;
    filter: grayscale(100%);
}
.grayscale img:hover{
    filter: grayscale(0%);

}
.Question{
    color: orange;

}
/* Sorry GIT GUI Dekhte Giye css gulan Delete kore felecilam */